.footer {
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  padding: 2%;
}
.footerSection {
  width: 20%;
}

.footerSection a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 7px 3px;
}
