.header {
  background-image: url(/src/assets/header.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.navtext {
  display: inline-block;
}

.navlinks a {
  padding: 0 10px;
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-size: larger;
}
.selected {
  color: white !important;
}

.backbutton {
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
}
