.button {
  background-color: red;
  color: white;
  border: none;
  padding: 6px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.buttonSecondary {
  background-color: rgb(59, 59, 59);
}
